<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-file-extra"
    version="1.0.0">
    <name>FileExtra</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <!--<repo>https://github.com/driftyco/cordova-plugin-template.git</repo>
    <issue>https://github.com/driftyco/cordova-plugin-template/issues</issue>-->

    <platform name="android">

      <js-module src="www/FileExtra.js" name="FileExtra">
        <clobbers target="window.FileExtra" />
      </js-module>

      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="FileExtra">
          <param name="android-package" value="de.solvis.FileExtra" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <source-file src="src/android/FileExtra.java" target-dir="src/de/solvis/" />
    </platform>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

</plugin>
